[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
    "python -m venv --copies /opt/venv",
    ". /opt/venv/bin/activate && pip install --no-cache-dir --disable-pip-version-check -r requirements.txt",
    ". /opt/venv/bin/activate && playwright install chromium"
]

[start]
cmd = "gunicorn app:app --bind 0.0.0.0:$PORT --timeout 30 --workers 1 --log-level info" 