<section class="affiliate-footer-block" aria-label="Affiliate Links">
    {% include 'includes/affiliate_disclosure.html' %}
    <div class="affiliate-link-grid">
        <div class="affiliate-link-card">
            <a href="https://rpx.a8.net/svt/ejp?a8mat=4AX5KD+97MGQA+2HOM+656YP&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2F0ea62065.34400275.0ea62066.204f04c0%2Fa26020776127_4AX5KD_97MGQA_2HOM_656YP%3Fpc%3Dhttp%253A%252F%252Fwww.rakuten.co.jp%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252F" rel="nofollow">
            <img src="http://hbb.afl.rakuten.co.jp/hsb/0ec09ba3.bc2429d5.0eb4bbaa.95151395/" border="0"></a>
            <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=4AX5KD+97MGQA+2HOM+656YP" alt="">
        </div>
        <div class="affiliate-link-card">
            <a href="https://rpx.a8.net/svt/ejp?a8mat=4AX5KD+97MGQA+2HOM+644DT&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2F0ea62065.34400275.0ea62066.204f04c0%2Fa26020776127_4AX5KD_97MGQA_2HOM_644DT%3Fpc%3Dhttp%253A%252F%252Fwww.rakuten.co.jp%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252F" rel="nofollow">
            <img src="http://hbb.afl.rakuten.co.jp/hsb/0ec09b9e.60f7c071.0eb4bbaa.95151395/" border="0"></a>
            <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=4AX5KD+97MGQA+2HOM+644DT" alt="">
        </div>
        <div class="affiliate-link-card">
            <a href="https://rpx.a8.net/svt/ejp?a8mat=4AX5KD+97MGQA+2HOM+60WN5&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2F0ea62065.34400275.0ea62066.204f04c0%2Fa26020776127_4AX5KD_97MGQA_2HOM_60WN5%3Fpc%3Dhttp%253A%252F%252Fwww.rakuten.co.jp%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252F" rel="nofollow">
            <img src="http://hbb.afl.rakuten.co.jp/hsb/0eb4bbcf.7ab43877.0eb4bbaa.95151395/" border="0"></a>
            <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=4AX5KD+97MGQA+2HOM+60WN5" alt="">
        </div>
    </div>
</section>
