{% if related_content_section %}
<section class="related-content" aria-labelledby="related-content-heading">
    <div class="related-content__header">
        <p class="related-content__eyebrow">Related Content</p>
        <h2 id="related-content-heading">{{ related_content_section.title }}</h2>
        {% if related_content_section.intro %}
        <p class="related-content__intro copy-lines">
            {% for line in split_visible_sentences(related_content_section.intro) %}
            <span class="copy-lines__line">{{ line }}</span>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    <div class="related-content__grid">
        {% for link in related_content_section.links|default([]) %}
        <a class="related-content__card" href="{{ link.path }}">
            <span class="related-content__label">{{ link.label }}</span>
            {% if link.description %}
            <span class="related-content__description">{{ link.description }}</span>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</section>
{% endif %}
